.main-container{
 overflow-y:scroll ;
    flex: 6;
    .widget,.charts{
        display: flex;
        gap: 10px;
        margin: 22px;
    }
    .charts{
        margin-top: 10px;
    }
    .tableC{
        margin: 22px;
        
       padding: 10px;
        box-shadow: 1px 1px 3px -1px rgba(99,95,99,1);
        .title{
            margin-bottom: 32px;
        }
    }
}
