.sidebar {
    flex: 1;
    border-right: 1px dotted rgb(58, 49, 49) ;
    display: flex;
    flex-direction: column;
    position: relative;
    .top{
        height: 50px;
        border-bottom: 1px dotted rgb(26, 23, 23);
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        .logo{
            text-transform: uppercase;
            color: blue;
            font-weight: 700;
            text-shadow: 0px 2px 2px lightblue;
        }
    
    }
    .center{
        flex: 10;
        
        overflow: hidden;
        overflow-y: scroll;
        border-bottom: 1px dotted rgb(26, 23, 23);

        .main{
            display: flex;
            padding: 10px 15px;
            align-items: center;
            // justify-content: center;
            cursor: pointer;
            transform: scale(1,1);
            .dashImage {
                height: 35px;
           
               
            }
            h4{
                font-weight: 700;
                
            }
            &:hover{
                transition: transform 0.5s ease;
                transform: scale(1.1,1.1);
            }
        }
        
        .box-container{
            // border: 1px solid red;
            padding: 8px;

            p{
                font-size: 10px;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: 2px;
            }
            .box{
                // border: 1px solid green;
                padding: 5px 2px;
                cursor: pointer;
                .item{
                    font-weight: 700;
                    // border: 1px solid blue;
                    margin: 8px;
                    transform: scale(1,1);
                    text-transform: capitalize;
                  svg{
                      margin-right: 6px;
                  }
                       
                  &:hover{
                      transition: all 0.5s ease-in-out;
                    background-color: rgba(219, 238, 248, 0.527);
                    transform: scale(1.1,1.1);
                }  
                }
                .flex{
                    
                    display: flex;
                    align-items: center;
                    justify-content: left;
                }
              


            }
        }
    }
    .bottom{
        flex: 1;

        .container{
             
            display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
         
            .color-picker{
                margin: 5px 2px;
                display: flex;
                align-items: center;
                &:nth-child(1){
                    background-color: white;
                    border: 1px solid black;
                    border-radius: 9px;
                    height: 25px;
                    width: 25px;
                    cursor: pointer;
                }
                &:nth-child(2){
                    background-color: black;
                    border: 1px solid white;
                    border-radius: 9px;
                    height: 25px;
                    width: 25px;
                    cursor: pointer;
                }
                &:nth-child(3){
                    background-color: brown;
                    border: 1px solid black;
                    border-radius: 9px;
                    height: 25px;
                    width: 25px;
                    cursor: pointer;
                }
            }
        }
    
        
    }
}
